.modal-listado-cliente {
  min-width: 400px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.campo-full {
  width: 100%;
}

mat-dialog-actions {
  padding: 16px 0 0 0;
  margin-bottom: 0;
}